.map {
  margin-top: 100px;
  height: 350px;
  position: relative;
  position: relative;
  border-radius: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 0px -5px 50px rgba(0, 0, 0, 0.192);
}
