@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");

.home {
  font-family: jost;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  & > * {
    transition: all 0.3s;
    * {
      transition: all 0.2s;
    }
  }
  .text {
    align-self: center;
    h3 {
      font-size: 60px;
      color: #ff3a3a;
      span {
        color: white;
      }
    }
    .small-mg {
      position: relative;
      background-color: green;
      display: flex;
      z-index: 1;
      img {
        position: absolute;
        top: -55px;
      }
      .first {
        top: -85px;
        left: -70px;
      }
      .second {
        top: -55px;
        left: -80px;
      }
      .third {
        top: -30px;
        left: -50px;
      }
    }
  }
  .big-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 140px;
      font-weight: bolder;
      margin-top: -55px;
      color: white;
    }
    img {
      height: 750px;
      width: 100%;
      margin-top: -190px;
      transition: all 0.1s;
    }
    button {
      position: absolute;
      padding: 20px 50px;
      border-radius: 40px;
      font-size: 20px;
      bottom: 200px;
      font-weight: 600;
      background-color: #ff3a3a;
      border: 1px solid #ff3a3a;
      color: white;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        background-color: #ff3a3a00;
        border: 1px solid white;
      }
    }
  }
  @media all and (max-width: 700px) {
    overflow-x: hidden;
    .text {
      h3 {
        font-size: 30px;
        margin-top: 50px;
      }
    }
    .small-mg {
      background-color: greenyellow;
      position: absolute;
      right: -10px;
      top: 15px;
      img {
        width: 20%;
      }
      .first {
        top: -70px !important;
        left: -50px !important;
      }
      .second {
        top: -50px !important;
        left: -50px !important;
      }
      .third {
        top: -40px !important;
        left: -45px !important;
      }
    }
    .big-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        margin-top: -30px;
        font-size: 80px;
      }
      img {
        margin-top: -100px;
        @media all and (max-width: 600px) {
          height: 450px;
        }
      }
      button {
        position: relative;
        margin-top: 120px;
      }
    }
  }
}
