@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");

.footer {
  font-family: jost;
  margin: 20px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media all and (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    .information{
      padding: 20px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.053);
    }
    .contact {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.053);
      margin: 50px 0px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.information {
  img {
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    color: grey;
    margin: 20px auto;
  }
  .icons {
    margin-top: 40px;
    * {
      margin-right: 20px;
      cursor: pointer;
      font-size: 30px;
    }
  }
}

.contact {
  h1 {
    margin-bottom: 10px;
  }
  .items {
    h3 {
      margin-top: 10px;
      display: flex;
      align-items: center;
      span {
        margin-left: 15px;
        color: rgb(95, 95, 95);
        font-weight: 100;
      }
      & > *:first-child {
        color: rgba(255, 0, 0, 0.808);
      }
    }
  }
}

.subscribe {
  text-align: center;
  h2 {
    font-size: 30px;
    margin: 20px auto;
  }
  input {
    padding: 25px 20px;
    border-radius: 40px;
    font-family: jost;
    width: 95%;
    font-size: 16px;
    text-align: center;
    border: 0;
    background-color: rgb(234, 234, 234);
  }
  button {
    width: 95%;
    border-radius: 30px;
    border: 0;
    margin: 20px auto;
    padding: 20px;
    background-color: #ff1c1c;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
  span {
    margin: 10px;
    color: grey;
    display: block;
    font-weight: 500;
  }
}

button {
  font-family: jost;
  cursor: pointer;
}
