* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scrollbar-width: thin;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.app {
  a{
    text-decoration: none;
  }
  .bg {
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
  }
  .back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 30%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.21);
    transition: all 0.3s;
    background-color: rgba(189, 189, 189, 0.377);
    padding: 5px;
    cursor: pointer;
    * {
      transition: all 0.3s;
      font-size: 35px;
      color: rgba(196, 196, 196, 0.788);
    }
    &:hover {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.366);
      * {
        color: rgba(255, 53, 53, 0.829);
      }
    }
  }
}
